div{
    width: 200px;
    height: 200px;
    margin: auto;
}

body{
    height: 2000px;
}

.satu{
    background-color: green;
}

.dua{
    background-color: violet;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.tiga{
    background-color: gold;
}

.container{
    width: 600px;
    height: 650px;
    border: 10px solid black;
    position: relative;

}

