.hello:link{
    color: orange;
}

.hello:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: green;
}

.hello:active{
    font-style: italic;
}

.hello:visited{
    color: violet;
}

li:nth-child(even) a{
    color: green;
}

li:nth-child(even) a:hover{
    color: red;
}

p:first-of-type{
    color:aqua;
}

p:last-of-type{
    color: red;
}